<ion-header>
  <ion-toolbar color="primary">
    <div class="hdr animated jackInTheBox delay 2s">CONTACTO</div>
  </ion-toolbar>
</ion-header>

<ion-list>
    <!--DIRECTION divs (Contact component)-->
    <div class="centered animated bounceInDown delay 1s"><ion-icon name="business" item-center></ion-icon>DIRECCIÓN</div>
    <div class="tag animated rotateInDownLeft delay 1s">C/ Alemanya, 5 17600</div>
    <!--PHONE NUMBER divs (Contact component)-->
    <div class="centered animated bounceInDown delay 1s"><ion-icon name="phone" item-center></ion-icon>TELÉFONO</div>
    <a class="linked" href="tel:972510412"><div class="tag animated rotateInDownRight delay 1s">972 510 412 (24h)</div></a>
    <!--SHEDULE divs (Contact component)-->
    <div class="centered animated bounceInDown delay 1s"><ion-icon name="time" item-center></ion-icon>HORARIOS</div>
    <div class="tag animated rotateInDownLeft delay 1s">Lunes - Viernes (8-14h)</div>
    <!--EMAIL divs (Contact component)-->
    <div class="centered animated bounceInDown delay 1s"><ion-icon name="at" item-center></ion-icon>EMAIL</div>
    <a class="linked" href="mailto:fisersa@fisersa.cat"><div class="tag animated rotateInDownRight delay 1s">fisersa@fisersa.cat</div></a> 
</ion-list>