.list {
    padding: 10px;
}

//L1
.l1{
    color: #333;
    --border-color: #4AAD52;
    --background: #4AAD52;
}
.l1i{
    color: #333;
    --border-color: #4AAD52;
    width: 75%;
    margin: 3px auto;
}

//L2
.l2{
    color: #333;
    --border-color: #F04141;
    --background: #F04141;
}
.l2i{
    color: #333;
    --border-color: #F04141;
    width: 75%;
    margin: 3px auto;
}

//L3
.l3{
    color: #333;
    --border-color: #3059d3;
    --background: #3059d3;
}
.l3i{
    color: #333;
    --border-color: #3059d3;
    width: 75%;
    margin: 3px auto;
}

//LE
.le{
    color: #333;
    --border-color: #a725a7;
    --background: #a725a7;
}
.lei{
    color: #333;
    --border-color: #a725a7;
    width: 75%;
    margin: 3px auto;
}