<ion-header>
    <ion-toolbar color="primary"> 
        <div class="hdr animated jackInTheBox delay 3s">FARES</div>
    </ion-toolbar>
</ion-header>

<ion-content class="grid">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div class="animated slideInLeft delay 3s">
          <img src="./assets/cards/bsenzill.svg" alt="">
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="animated slideInRight delay 3s">
          <img src="./assets/cards/T10.svg" alt="">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <div class="animated slideInLeft delay 3s">
          <img src="./assets/cards/TM.svg" alt="">
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="animated slideInRight delay 3s">
          <img src="./assets/cards/TEstudiants.svg" alt="">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <div class="animated slideInLeft delay 3s">
          <img src="./assets/cards/TMenors.svg" alt="">
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="animated slideInRight delay 3s">
          <img src="./assets/cards/TS.svg" alt="">
        </div>
      </ion-col>
    </ion-row>

    <ion-row >
      <ion-col size="6">
        <div class="animated slideInLeft delay 3s">
          <img src="./assets/cards/Ttrimestralescolar.svg" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>