<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div>
      <img class="img" src="assets/images/fiser.svg" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="divmap">
    <div *ngIf="loadMap" style="height:690px; width:100%;">
      <yaga-map [zoom]="14" style="height: 690px;" [lat]="42.26645" [lng]="2.96163">
        <yaga-tile-layer [url]="'https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}{r}.png'">
        </yaga-tile-layer>
      </yaga-map>
    </div>
  </ion-card>
</ion-content>