.SB{
    display:flex;
    float:right;
}
.LSlist{
    margin-bottom: 35px;
border-radius: 3px;
}
.FavB{
    color :#cd8b00;
}
.FavLine{
    color: #FF3333
}
.favIc{
    max-width: 15%;
    min-width: 20px;
}

.Lnames{
    max-width: 80%;

}
.Flist{
    max-width: 15%;
    min-width: 20px;
}